<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header"></head>

<body>

    <div th:replace="template :: nav"></div>
    <div class="container">
        <div class="text-center">

            <div class="panel-group" style="margin-top:40px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span th:utext="${email}"></span>
                    </div>
                    <div class="panel-body">
                        <img th:src="@{/images/byte.png}" class="img-responsive center-block" width="375" height="400"
                            alt="Bytefit logo" />
                    </div>
                    <span th:utext="'Saved Caloric Value:' + ${userCalories}"></span>
                    <p>Would you like to generate a meal plan with this value? </p> 
                    <button type="submit" id="navigateToMealPlanButton" th:value="${userCalories}" class="btn btn-info" onclick="navigateToMealPlanGenerator()">
                        Take me to the meal plan generator!
                    </button>
                </div>
            </div>

            <br><br>
            <div class="container-fluid">
                <table class="table table-hover table-dark">
                    <thead class="thead-light">

                    </thead>
                </table>
            </div>

        </div>
    </div>

    <div th:replace="template :: js"></div>

</body>

</html>