<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header"></head>

<body>

<div th:replace="template :: nav"></div>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${email}"></span>
            </div>
            <div class="panel-body">
                <img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400"
                     alt="Beer"/>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>

<div th:replace="template :: js"></div>

</body>
</html>