<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="template :: header"></head>

<body onload="caloricVerification()">

    <div th:replace="template :: nav"></div>

    <section class="jumbotron text-center" id="banner">
        <div class="container">
            <h1 class="jumbotron-heading">ByteFit</h1>
            <img th:src="@{/images/byte.png}" class="center" height=20% width=20% />

            <br>
            <p class="lead text-muted">ByteFit, a simplified meal planner.</p>

            <div sec:authorize="isAnonymous()">
                    <span>
                        <a href="#" class="btn btn-danger text-center" onmouseover="moreInfo(this)" id="signupTooltip">
                            Registered member perks <i class="fas fa-star"></i>
                        </a>
                    </span>
            </div>

        </div>
    </section>
    <div class="container">
        <section id="calculation">
            <div class="text-center">

                <div sec:authorize="isAuthenticated()">
                    <h5>Dietary Options</h5><br>
                    <div id="dietChoice" class="btn-group flex-wrap btn-group-toggle" data-toggle="buttons">
                        <span>
                            <label class="btn btn-secondary active">
                                <input type="radio" id="noDietButton" name="diet" value="" checked="checked"> Anything
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" id="veganButton" name="diet" value="vegan"> Vegan
                            </label>
                            <!--Restricts dietary choices for users without accounts, allowing for a reduction in meal plan complexity processing-->
                            <label class="btn btn-success">
                                <input type="radio" id="ketogenicButton" name="diet" value="ketogenicButton"> Ketogenic
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" id="vegetarianButton" name="diet" value="vegetarian"> Vegetarian
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" id="paleoButton" name="diet" value="paleo"> Paleo
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" id="pescetarianButton" name="diet" value="pescetarian"> Pescetarian
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" id="glutenfreeButton" name="diet" value="gluten free"> Gluten
                                Free</label>
                            <a href="#" class="tooltipped btn-floating btn-small indigo darken-4"
                                onmouseover="moreInfo(this)" id="dietaryTooltip">
                                <i class="fas fa-question-circle fa-lg"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <br><br>

                <form onsubmit="generateComplexMealplan();return false">
                    <span>I want to eat <input id="calories" style="width:4em" type="number" min="200" max="8000" value="2000" /> calories
                        across
                        <select id="num_meals">
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option selected value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                        </select>
                        meals
                        <button type="submit" id="recipeButton" class="btn btn-primary">
                            go!
                        </button></span>
                </form>
            </div>
            <br>

            <h2><span class="text-success" th:utext="${calorieSaved}"></span></h2>

            <div>
                </br>
                <div class="text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="unitChoice(this)"
                        data-target="#caloriescalc">
                        How many calories do I need? <i class="fas fa-question-circle"></i>
                    </button>
                </div>
                <div class="modal fade" id="caloriescalc" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Find out how many calories you should
                                    be eating</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container col-md-12">
                                    <label class="form-check-label" for="endGoal">
                                        My goal:
                                    </label>
                                    <select id="endGoal" class="col-md-9 dropdown-toggler">
                                        <option value="0" selected="selected">Maintain Weight</option>
                                        <option value="500">Lose Weight</option>
                                        <option value="500">Gain Weight</option>
                                    </select>

                                    <a href="#" class="tooltipped btn-floating btn-small indigo darken-4"
                                        onmouseover="moreInfo(this)" id="goalTooltip">
                                        <i class="fas fa-question-circle"></i>
                                    </a>
                                    <br><br>
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-md-5 pt-0">Gender</legend>
                                            <div class="col-md-7">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        onclick="profileTest(this)" name="gender" id="male"
                                                        value="male">
                                                    <label class="form-check-label" for="gender">
                                                        Male
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        onclick="profileTest(this)" name="gender" id="female"
                                                        value="female">
                                                    <label class="form-check-label" for="female">
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-md-5 pt-0">Unit Input</legend>
                                            <div class="col-md-7">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        onclick="unitChoice(this)" name="unitType" id="imperial"
                                                        value="imperial">
                                                    <label class="form-check-label" for="imperial">
                                                        Imperial
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        onclick="unitChoice(this)" name="unitType" id="metric"
                                                        value="metric">
                                                    <label class="form-check-label" for="metric">
                                                        Metric
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div id="metricUnits">
                                        <div class="input-group form-group row">
                                            <label for="metricHeight" class="col-md-3 col-form-label">Height</label>
                                            <input type="number" class="form-control col-md-7" id="metricHeight"
                                                value=177>
                                            <span class="input-group-text"> kg </span>
                                        </div>

                                        <div class="input-group form-group row">
                                            <label for="metricWeight" class="col-md-3 col-form-label">Weight</label>
                                            <input type="number" class="form-control col-md-7" id="metricWeight"
                                                value="100">
                                            <span class="input-group-text"> kg </span>
                                        </div>
                                        <p id="metricFail"></p>
                                    </div>
                                    <div id="imperialUnits">
                                        <div class="input-group form-group row">
                                            <label for="imperialHeightFt"
                                                class="col-md-3 col-form-label">Height</label><br>
                                            <select id="imperialHeightFt" class="col-md-3 dropdown-toggler">
                                                <option value="3">3 ft</option>
                                                <option value="4">4 ft</option>
                                                <option value="5" selected="selected">5 ft</option>
                                                <option value="6">6 ft</option>
                                                <option value="7">7 ft</option>
                                            </select>
                                            <select id="imperialHeightInch" class="col-md-6 dropdown-toggler">
                                                <option value="1">1 inch</option>
                                                <option value="2">2 inches</option>
                                                <option value="3" selected="selected">3 inches</option>
                                                <option value="4">4 inches</option>
                                                <option value="5">5 inches</option>
                                                <option value="6">6 inches</option>
                                                <option value="7">7 inches</option>
                                                <option value="8">8 inches</option>
                                                <option value="9">9 inches</option>
                                                <option value="10">10 inches</option>
                                                <option value="11">11 inches</option>
                                                <option value="12">12 inches</option>
                                            </select>
                                        </div>
                                        <div class="input-group form-group row">
                                            <label for="imperialWeight" class="col-md-3 col-form-label">Weight</label>
                                            <input type="number" class="form-control col-md-7" id="imperialWeight"
                                                value="200">
                                            <span class="input-group-text"> lb's </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="age" class="col-md-3 col-form-label">Age</label>
                                    <input type="number" class="form-control col-md-8" id="age" value="21">
                                </div>
                                <br>
                                <div class="container">
                                    <label class="form-group" for="activityLevel">
                                        Activity Level:
                                    </label>
                                    <select id="activityLevel" class="col-md-8 dropdown-toggler">
                                        <option value="1.2">Sedentary</option>
                                        <option value="1.375">Lightly Active</option>
                                        <option value="1.55" selected="selected">Moderately Active</option>
                                        <option value="1.725">Very Active</option>
                                        <option value="1.9">Extremely Active</option>
                                    </select>
                                    <a href="#" class="tooltipped btn-floating btn-small indigo darken-4"
                                        onmouseover="moreInfo(this)" id="activityTooltip">
                                        <i class="fas fa-question-circle"></i>
                                    </a>
                                    <br>
                                    <br>
                                    <button type="submit" onclick="calculate()" class="btn btn-primary col-md-9">Get my
                                        results!
                                    </button>
                                    <button type="button" class="btn btn-secondary col-md-2" data-dismiss="modal">Close
                                    </button>
                                    <br><br>
                                    <p id="answer"></p>
                                    <p id="macros"></p>
                                    <p>The result you receive will automatically populate the field on the generator.
                                    </p>
                                    <form th:action="@{/}" method="POST">
                                        <button sec:authorize="isAuthenticated()" value="2000"
                                            class="btn btn-warning col-md-11" id="userCalorieValue" name="userCalories"
                                            type="Submit">Save this as my new calorie intake</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <br>

    <div sec:authorize="isAuthenticated()" class="container">
        <div class="row float-right">
            <button type="submit" id="mealPlanPdfButton" style="display:none" class="btn btn-secondary"
                onclick="generateMealPlanPDF()">
                <i class="fas fa-save"></i> Save to PDF
            </button>
        </div>
    </div>
    <br><br>

    <div class="container-fluid table-responsive">

        <table id="mealPlanTable" class="table table-hover table-dark">
            <thead class="thead-light">
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


    <div th:replace="template :: js"></div>

</body>

</html>