<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>

<body>

<div th:replace="template :: nav"></div>


<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <form autocomplete="off" action="#" th:action="@{/register}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <label for="firstname" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{firstname}" placeholder="Name" id="firstname"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="lastname" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{lastname}" id="lastname" name="lastname"
                           placeholder="Last Name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="email"
                           th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           class="validation-message">Email</label>
                    <input type="email" th:field="*{email}" id="email" name="email" placeholder="Email"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password"
                           th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="validation-message">Password</label>
                    <input type="password" th:field="*{password}" id="password" name="password"
                           placeholder="Password" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register User</button>
                </div>
                <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
            </form>
        </div>
        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

    </div>
</div>

<div th:replace="template :: js"></div>

</body>
</html>