<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>

<body>

<div th:replace="template :: nav"></div>


<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <% include ./partials/messages %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="firstName" id="firstName" name="firstName" class="form-control"
                           placeholder="Enter First Name"/>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="lastName" id="lastName" name="lastName" class="form-control"
                               placeholder="Enter Last Name"/>
                    </div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"/>
                    <div class="form-group">
                        <label for="mobileNum">Phone Number</label>
                        <input type="mobileNum" id="mobileNum" name="mobileNum" class="form-control"
                               placeholder="Enter mobileNum"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Create Password"/>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" name="password2" class="form-control"
                               placeholder="Confirm Password"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>
                </div>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>

<div th:replace="template :: js"></div>

</body>
</html>